# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build and install directories
/build
/ownOpenRTI/build
/ownOpenRTI/install
/ownOpenRTI/log

# Ignore VSCode settings
.vscode

# Do not ignore the libs folder
!libs/